#header,
#footer{
    margin-bottom:0;
}

.jumbotron{
    padding: 0.5em;
}

.contentPage{
    text-align: center;
    margin: 10px auto 20px auto;
}

#contact,
#about {
    width: 70%;
}

.card-img-top {
    object-fit: cover;
}
